<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Snow Software Application Test Automation Test Suite">
	<test name="Snow Software App Test Cases">
		<classes>
			<class name="com.crm.qa.testcases.SearchPageTest"></class>	
		</classes>
	</test>
</suite>